* {
    box-sizing: border-box;
}

.main-products {
    display: flex;
    justify-content: center;
}
/* Position the image container (needed to position the left and right arrows) */

.products-right {
    display: flex;
    flex-direction: column;
    width: 90%;
}

/* Inside the ".products-right */
.cols {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}

.column {
    padding: 15px;
}

.products-left {
    background-color: black;
    color: white;
    align-items: center;
    text-align: left;
}

/* Inside the ".products-left */
.shape-products-left {
    margin-left: 6%;
}

.products-header-name {
    font-size: 27px;
    color: rgb(68, 224, 68);
}

.products-price {
    font-size: 22px;
}

.description-white-text {
    color: rgb(161, 156, 156);
}

.products-add-cart {
    text-align: center;
}

.add-to-cart-btn {
    background-color: rgb(68, 224, 68);
    border-radius: 5px;
    border-color: rgb(68, 224, 68);
    width: 95%;
    height: 100%;
}

.add-to-cart-btn p {
    font-size: 20px;
    padding: 15px;
}

.grey-text {
    color: rgb(161, 156, 156);
}

/* Hide the images by default */

.mySlides {
    display: flex;
    padding: 10px;
    width: 70%;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.bottom-btn,
.top-btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.bottom-btn {
    top: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.top-btn:hover,
.bottom-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.cols:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.benefit {
    background-color: rgb(68, 224, 68);
    width: 100%;
    height: 50%px;
    text-align: center;
}

.text-benefit {
    padding: 50px;
}