:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(54, 51, 51);
}

* {
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.nav-container {
    background-color: #222;
    display: flex;
}

.nav-container .nav-left {
    display: flex;
    justify-content: flex-start;
}

.nav-list {
    display: flex;
}

.nav-left .nav-item {
    padding-right: 40px;
    height: 70px;
}

.nav-link {
    padding-top: 25px;
}

.nav-left .nav-text {
    display: block;
    font-size: 15px;
    color: #999;
    transition: .3s;
}

.nav-left .nav-link>img {
    transition: .3s;
}

.nav-left .nav-link>img:hover {
    opacity: .7;
}

.nav-left .nav-text:hover {
    color: #fff;
}

.nav-container .nav-right {
    display: flex;
    justify-content: flex-end;
}

.nav-right .nav-list {
    justify-content: flex-end;
}

.nav-right .nav-item {
    padding-left: 15px;
}

.nav-right .nav-link i {
    font-size: 15px;
    color: #999;
    transition: .3s;
}

.nav-right .nav-link i:hover {
    color: #44d62c;
}
