:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(54, 51, 51);
}

* {
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
}

.nav-container {
    background-color: #222;
    display: flex;
}

.nav-container .nav-left {
    display: flex;
    margin-left: 70px;
    width: 70%;
}

.nav-list {
    display: flex;
}

.nav-left .nav-item {
    padding-right: 40px;
    height: 80px;
}

.nav-link {
    padding-top: 30px;
}

.nav-left .nav-text {
    display: block;
    font-size: 18px;
    color: #999;
    transition: .3s;
}

.nav-left .nav-link>img {
    padding-bottom: 13px;
}

.nav-left .nav-link>img:hover {
    opacity: .7;
}

.nav-left .nav-text:hover {
    color: #fff;
}

.nav-container .nav-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 70px;
}

.nav-right .nav-list {
    justify-content: flex-end;
}

.nav-right .nav-item {
    margin-left: 35px;
}

.nav-right .nav-link i {
    font-size: 25px;
    color: #999;
}
