<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        US
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" 
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/us.css">
    
</head>

<body>
    
    <div class="container" style="background-image: url(../img_us/pexels-photo-276514.jpeg);">
        <div class="overlay"></div>
        <!--top nav-->
        <div class="nav">
            <div class="menu">
            </div>
            <div class="logo">
                <a href="us.html">US</a>
            </div>
            <div class="logo"></div>
        </div>
        <!--end top nav-->
        <!--our project-->
        <div class="project">
            <a href="../view/index.html" target="_blank">OUR PROJECT</a>
        </div>
        <!--end our project-->
        <!--dev label-->
        <div class="dev">
            WEB DEVELOPER
        </div>
        <!--end dev label-->
        <!--product info-->
        <div class="col-5 z-index-99">
            <div class="info">
                <!--info Đạt-->
                <div class="product-info">
                    <h1>
                        <span class="txt-yellow">NGUYEN</span>
                    </h1>
                    <h1>
                        THANH
                    </h1>
                    <h1>
                        <span class="txt-yellow">DAT</span>
                    </h1>
                    <!--social icon-->
                    <div class="sci">
                        <a href="https://www.facebook.com/profile.php?id=100035228358122"target="_blank"><i class="bx bxl-facebook-circle"></i></a>
                        <a href="https://www.instagram.com/thanhdat273/"target="_blank"><i class="bx bxl-instagram-alt"></i></a>
                        <a href="https://github.com/ThanhDatTu3tle"target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100035228358122"target="_blank"><i class='bx bx-mail-send' ></i></a>
                    </div>
                    <!--end social icon-->
                </div>
                <!--end info Đạt-->
                <!--info Hoàng-->
                <div class="product-info">
                    <h1>
                        <span class="txt-yellow">THAI</span>DANG
                    </h1>
                    <h1>
                        MINH
                    </h1>
                    <h1>
                        <span class="txt-yellow">HOANG</span>
                    </h1>
                    <!--social icon-->
                    <div class="sci">
                        <a href="https://www.facebook.com/hoangdrgoneel/"target="_blank"><i class="bx bxl-facebook-circle"></i></a>
                        <a href="https://www.instagram.com/_lucifer_kun/?fbclid=IwAR151LT6ukfhHxFsXeeQIZcMkJjB0fT7mZe08vrjkcs-bNuI8FrYmFo4BjA"target="_blank"><i class="bx bxl-instagram-alt"></i></a>
                        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fgithub.com%2Fharutoakira%3Ffbclid%3DIwAR28wmPaGQ0rL9XnntWJaR1GoFgyAcaliZmU9-q5JIyE3emm8rwO-2GRmmI&h=AT2z-h3D7_Tt5ugIydn4a_7X2TeC6Bn7YuI-vUcEe6LQg5XbpNtL2Z0YAjZ9KqxZ7eX4ojDRzsHovBXpmCAKjg63Yp6Wj0fHOwVedCC5wbKZfXABPejujCX9coY1ulRDzYfF3w"target="_blank"><i class='bx bxl-github'></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100035228358122"target="_blank"><i class='bx bx-mail-send' ></i></a>
                    </div>
                    <!--end social icon-->
                </div>
                <!--end info Hoàng-->
            </div>
        </div>
        <!--end product info-->
        <!--product images slide-->
        <div class="col-7">
            <!--slider-->
            <div class="slider">
                <div class="slide">
                    <div class="img-holder" 
                    style="background-image: url(../img_us/IMG_2892.PNG);"></div>
                </div>

                <div class="slide">
                    <div class="img-holder" 
                    style="background-image: url(../img_us/hoang_image.jpg);"></div>
                </div>
            </div>
            <!--end slider-->
        </div>
        <!--end product images slide-->
        <!--slide control-->
        <div class="slide-control z-index-99">
            <i class="bx bxs-right-arrow"></i>
        </div>
        <!--end slide control-->
    </div>

    <script src="../js/us.js"></script>
</body>
</html>